<main>
  <div class="focus"></div>
  <section class="login">
    <div class="content-login">
      <ButtonTheme/>
      <img src="./assets/images/dashify-logotype.svg" alt="">
      <p>Resumen de canciones y artistas favoritos en tiempo real de una manera interactiva</p>
      <ButtonLogin content='Inicia sesión'/>
    </div>
  </section>
  <section class="faqs">
    <div class="content-faq">
      <h2 style="letter-spacing: .05rem;">Preguntas frecuentes</h2>
      <div class="group-faqs">
        <details class="faq">
          <summary>¿Qué es Dashify?</summary>
          <p><strong>Dashify</strong> es una plataforma web en donde podrás ver el registro de canciones y artistas preferidos de tu cuenta de <span>Spotify</span>, también puedes revisar tus canciones escuchadas recientemente y obtener datos de interés sobre lo que escuchas recurrentemente.</p>
        </details>
        <details class="faq">
          <summary>¿Este sitio es seguro?</summary>
          <p>Sí, <strong>todos los datos solicitados y obtenidos provienen desde la API Oficial de <span>Spotify</span></strong>, por lo que toda información personal solo lo podrás ver tú.</p>
        </details>
        <details class="faq">
          <summary>¿Que ventajas tengo de usar esta aplicación?</summary>
          <p>Desde <strong>Dashify</strong> podrás ver de una manera más facil tu historial de canciones y artistas en tiempo real y en cualquier momento, además de poder crear diversas playlist seleccionando artistas o géneros de tu interés para expandir tus gustos musicales.</p>
        </details>
        <details class="faq">
          <summary>¿Este servicio es gratuito?</summary>
          <p><strong>Sí</strong>, solo necesitas iniciar sesión con tu cuenta de <span>Spotify</span>.</p>
        </details>
        <details class="faq">
          <summary>¿Puedo usar mi cuenta de Spotify Free?</summary>
          <p><strong>Sí</strong>, puedes usar tu cuenta de <span>Spotify Free</span> sin problemas.</p>
        </details>
      </div>
    </div>
  </section>
</main>
<footer>
  <section class="content-footer">
    <div class="logo">
      <img src="./assets/images/dashify-logotype.svg" alt="">
    </div>
    <hr>
    <div class="social">
      <p>Hecho con 💙 por <a href="#">Jorge</a></p>
    </div>
  </section>
</footer>
